.header {
    background-color: #151515;
    padding-top: 40px;

    &-top {
      display: flex;
      justify-content: space-between;

      &__img {
        cursor: pointer;
        width: 129px;
        height: 32px;
        z-index: 1;
      }
    }
}

@media only screen and (max-width: 900px) {
  .header-top {
    flex-direction: column;
    align-items: center;
  }
  

  .header-top__img {
    margin-bottom: 20px;
  }

}