.info {
  padding: 72px 0px 140px 0px;


  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    list-style: none;
    gap: 55px;
    padding: 0;
    margin: 0;
  
    &-item {
      max-width: 345px;
      width: 100%;
  
      &__heading {
        font-family: 'Space Grotesk';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 56px;
        color: #FFFFFF;
        padding: 0;
        margin: 0;
      }
  
      &__desc{
        font-family: 'Space Grotesk';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        color: #D9D9D9;
        padding-top: 14px;
        margin: 0;
      }
    }
  }
    
}


@media only screen and (max-width: 900px) {
  .info {
    padding: 40px 0px 50px 0px;
  }

  .info__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 2px;
    grid-row-gap: 0px;
    text-align: center;

    &-item {
      padding-top: 30px;
    }
  }
}


@media only screen and (max-width: 680px) {

  .info {
    display: flex;
    text-align: center;
    justify-content: center;
  }

  .info__list {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 2px;
    grid-row-gap: 0px;
    text-align: center;
  }
}
