.main {
  display: flex;
  justify-content: space-between;
  position: relative;
}

// ARTICLE
.article {
  max-width: 709px;
  width: 100%;
  padding: 127px 0px 150px 0px;
  
  &__heading {
    position: relative;
    z-index: 1;
    margin: 0;
    padding: 0;
  }

  &__line {
    padding: 0;
    margin: 0;
    border-bottom: 5px solid #4EE1A0;
  }

  &__desc {
    padding-top: 43px;
    margin: 0;
  }

  &__btn {
    padding: 66px 0 10px 0; 
  }
}
// ASIDE
.aside__img {
  width: 445px;
  height: 720px;
  margin-top: -140px;
}


@media only screen and (max-width: 900px) {
  .main {
    flex-direction: column;
  }

  .article {
    order: 1;
    text-align: center;
    padding: 20px;

    &__heading {
      font-family: 'Space Grotesk';
      font-style: normal;
      font-weight: 700;
      font-size: 40px;
      line-height: 40px;
    }
  }

  .aside {
    display: flex;
    justify-content: center;
    text-align: center;
  }
}

@media only screen and (max-width: 900px) {

  .article {
    padding: 0;
    margin: 0;
  }

  .article__heading {
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
  } 

  .aside__img {
    margin-top: -200px;
  }

}