.main {
  display: flex;
  justify-content: space-between;
  position: relative;
}

// ARTICLE
.article {
  padding: 127px 0px 150px 0px;
  
  &__heading {
    position: relative;
    z-index: 1;
    margin: 0;
    padding: 0;
  }

  &__line {
    padding: 0;
    margin: 0;
    border-bottom: 5px solid #4EE1A0;
  }

  &__desc {
    padding-top: 43px;
    margin: 0;
  }

  &__btn {
    padding: 66px 0 10px 0; 
  }
}
// ASIDE
.aside__img {
  position: absolute;
  width: 445px;
  height: 720px;
  margin-top: -110px;
  margin-left: -435px;
}